body {
  font-family: "Lato", sans-serif;
  color: #67707c;
  background-color: #D3DADE;
  font-size: 13px;
}

.panel {
  width: 400px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
}

.error-message {
  color: red;
  margin: 10px 0 0 40px;
}
